@font-face {
    font-family: Gs;
    font-display: swap;
    src: url(./Gs.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Gs;
    font-display: swap;
    src: url(./Gs.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: Gs65;
    font-display: swap;
    src: url(./HYWH65W.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Gs85;
    font-display: swap;
    src: url(./HYWH85W.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
  }
.gs {
    font-family: Gs, sans-serif;
}
