@font-face{
    font-family: GsRegular;
    src: url(./HYWH65W.ttf);
  }
.gsr {
    font-family: GsRegular, sans-serif;
}
@font-face{
    font-family: GsBlack;
    src: url(./HYWH85W.ttf);
  }
.gsb {
    font-family: GsBlack, sans-serif;
}
